body{
    background-image: url('https://th.bing.com/th/id/OIP.gw23gi_lMMZpXIUD-ZmwiwHaEo?pid=ImgDet&rs=1') ;
    background-repeat: no-repeat;
    /* background-size:auto;  */
    background-size:cover; 
    /* background-size:contain; */
    /* background-repeat: no-repeat; */
    /* background-image: linear-gradient(red,yellow,blue); */
    /* background-image: radial-gradient(blue,yellow,red); */
    /* background-image: conic-gradient(red,green); */
}